*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}
/* details{
    font-size: 27px;
    margin: 300px auto;
    text-align: center;
    background-color: gold;
    border: 2px solid black;
    width: 700px;
} */
/* html{
    font-size: 100px;
}
div{
    font-size: 50px;
}
h1{
    width: 50vw;
    height: 60vh;
    background-color:yellow;
    font-size: 2em;
} */
